body{
    background-image: url("Images/background.jpg");
}
#top{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: stretch;
   flex-wrap: wrap;
   align-content: space-around;
}
.table{
    width: 75%;
    margin-left: auto;
    margin-right: auto;  
}
.row{
    background-color: red;
}
.rowadd{
    background-color: rgb(205, 230, 241);
}
#input{
      width: 75%;
}
button{
    width: 23%;
}
.tableData{
    text-align: center;
}
.strike{
    text-decoration: line-through;
}